.box__image {
  background: url(../../img/nightroad.jpg);
    background-size: cover;
      background-position: center;
      height: 100vh;
  &-filter {
    background-color: rgba(0, 0, 0, 0.542);
    height: 100vh;
  }
}
