.gnav {
  &__list {
    display: flex;
    list-style: none;
    padding: 35px 100px;
    &-item {
      color: #ffffff;
      font-size: 20px;
      padding: 15px 40px;
      text-transform: uppercase;
    }
  }
}
