.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 600px;
  &__visual {
    &-title {
      position: relative;
        text-align: center;
        font-size: 3rem;
        font-weight: bold;
        color: #C9A3AF;
        top: 320px;
        right: 300px;
        z-index: 10;
      }
  }
}
